*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'montseratt', sans-serif;
}
.App{
  background-image: url(C:\Users\shrey\OneDrive\Desktop\weatherapp\src\Cold.jpg);
  background-size: cover;
  background-position:bottom ;
  transition: 0.4 ease-out;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
}
.App.warm{
  background-image: url(C:\Users\shrey\OneDrive\Desktop\weatherapp\src\Warm.jpg);
}
.search-box{
  width: 100%;
  margin: 0 0 75px;
}
.search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0px 5px rgba(0,0,0,0.3);
  color: #313131;
  transition: 0.4s ease;
}
input{
  font-size: 1.2rem;
  color: gray;


}

.location{
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.2);
}
.date{
  color: white;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.2);
}
.weather-box{
  text-align: center;
}
.temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.6);
  border-radius: 16px;
  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50,50,70,0.2);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.weather{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(0,0,0,0.2);
  text-transform: capitalize;
}
img{
  width: 1.9rem;
  display: flex;
  float: right;
  margin-top: -2.6rem;
  margin-right: 1.2rem;
  opacity: 0.5;
}